<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<table class="table table-info" style="height: 300px;width: 80%;margin: auto">
    <thead class="table-dark">
    <tr>
        <th>firstname</th>
        <th>lastname</th>
        <th>email</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
    <tr>
        <td>{{ student.firstname }}</td>
        <td>{{ student.lastname }}</td>
        <td>{{ student.email }}</td>

        <td>
            <a href="edit/{{ student.id }}" class="btn btn-warning">EDIT</a>
            <a href="delete/{{ student.id }}" class="btn btn-danger">DELETE</a>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
 <center><a href="/index" class="btn btn-primary">Add new student</a></center>
</body>
</html>